@media screen and (max-width: 767px) {

    .toggle{
        display: block;
        
    }
    .toggle img{
        width: 20px;
        height: 20px;
    }

    
    .brandimg {
        height: 40px;
        margin-left: auto;
    }
    .font-set{
        display: none;
    }

    .search {
        width: 100%;
        height: 25px;
        margin: 10px ;
    }

    
    .navcss {
        min-height: 60px;
        padding: 5px ;
    }
    .hindi {
        display: none;
    }

    .font-set {
        margin-right: 15px;
        margin-left: 15px;
        gap: 3px;
        margin-top: 5px;
    }

    .phone {
        width: 150px;
        padding-top: 5px;
        line-height: 16px;
    }


    .second-navbar {
        height: auto;
        
    }

    .navbar-list {
        flex-wrap: wrap;
        margin-left: 5%;
        gap: 15px;
    }

    .dropdown-content {
        min-width: 200px;
    }

    .management:hover .management-d {
        margin-left: 150px;
        width: 200px;
    }

    /* Card Carousel */
    .card-carousel {
        width: 95%;
        margin-left: 2.5%;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .card-1,
    .card-2,
    .card-3,
    .card-4,
    .card-5 {
        width: 48%;
        margin-bottom: 20px;
    }

    /* Apply Button */
    .apply-btn {
        font-size: 12px;
        padding: 4px;
        line-height: 15px;
    }


}